body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
  } 
  
  .report-container {
    max-width: 1050px;
    margin: auto;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1, h3 {
    text-align: center;
  }
  
  .marks-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .marks-table th, .marks-table td {
    border: 1px solid #828282;
    text-align: center;
    padding: 4px;
  }
  
  .marks-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .report-footer{
    margin-top: 30px;
    display: flex;
  justify-content: space-around; /* Ensures equal spacing */
  align-items: center; /* Aligns vertically */
  text-align: center;
    font-size: 16px;
  }
  .report-footer p {
    margin :0;
  }
  .cont{
    display: flex;
    justify-content: center;
  }
  #print-btn {
    border: none;
    background-color: #fff;
    
  }
  .student-details {
    margin-top : 0px;
    display: flex;
    justify-content: space-around;
    padding-top: 0px;
  }
  .student-details h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .horiLine , #nondiHeadline{
    margin : 2px;
  }

  .BLANK {
    background-color: #828282;
    border: none;
  }
  